name: Code Analysis
on:
  push:
  pull_request:
permissions: read-all
concurrency:
  group: code-analysis
  cancel-in-progress: true
jobs:
  typstyle:
    name: Format Typst
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.head_ref }}
      - name: Setup typstyle
        uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3
        with:
          crate: typstyle
      - name: Run typstyle
        run: find . -name "*.typ" | xargs -r typstyle -i
      - name: Push
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
        with:
          commit_message: "style: format using typstyle"
