name: Generate Resume
on:
    push:
        branches:
            - main
jobs:
    build_typst:
        name: Typst
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
            - name: Set up Git repository
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
            - name: Setup Typst
              uses: typst-community/setup-typst@13c527d2e8ac7863a24510c4043ad28fd47a5606 # v4.1.0
              with:
                cache-dependency-path: requirements.typ
            - name: Generate
              run: typst compile resume.typ docs/resume.pdf
            - name: Commit and Push new file
              uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
              with:
                commit_message: Update Docs
