name: Generate Resume
on:
    push:
        branches:
            - main
jobs:
    build_typst:
        name: Typst
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
            - name: Set up Git repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Setup Typst
              uses: typst-community/setup-typst@48aeee7543d37f01afd1ffb27307dc277387ba13 # v4.3.1
              with:
                cache-dependency-path: requirements.typ
            - name: Generate
              run: typst compile resume.typ docs/resume.pdf
            - name: Commit and Push new file
              uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
              with:
                commit_message: Update Docs
