name: Generate Resume
on:
    push:
        branches:
            - main
jobs:
    build_typst:
        name: Typst
        runs-on: ubuntu-latest
        permissions:
          contents: write
        steps:
            - name: Set up Git repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - name: Setup Typst
              uses: typst-community/setup-typst@13c527d2e8ac7863a24510c4043ad28fd47a5606 # v4.1.0
              with:
                cache-dependency-path: requirements.typ
            - name: Generate
              run: typst compile resume.typ docs/resume.pdf
            - name: Commit and Push new file
              uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
              with:
                commit_message: Update Docs
